
<div class="todo">
    <div class="bajar">

        <form action="https://devsay.us16.list-manage.com/subscribe/post" method="POST" name="sign up for beta form">
                <input type="hidden" name="u" value="5b26f629419b502f637ac4eb2">
                <input type="hidden" name="id" value="fe9cc92df3">
                    <div class="ui center aligned icon header">
                        <h1>
                            <i class=" game icon"></i>
                            Dev Say
                        </h1>
                    </div>
                    <div class="description">
                        <p>Interviews with Successful Game Developers about their published games and the process to make them </p>
                    </div>
                    <div class="input">
                        <input type="email" class="button" id="email" name="MERGE0" placeholder="Enter your email and get notified on launch"  value="">
                        <input type="submit" class="button" id="submit" value="Notified Me!">
                    </div>
                </form>

    </div>
        
</div>