<div class="loweras">

<div class="bajar">
    <div class="ui  text container">
        <h2 class="ui center aligned icon header">
        <i class=" birthday icon"></i>
        <div class="content">
            Thank You!
            <div class="center aligned sub  header">You'll be the first to know when we launch</div>
            <div class="ui text container">
    <a href="https://twitter.com/Gamedevsay?ref_src=twsrc%5Etfw" data-size="large" class="twitter-follow-button" data-show-count="false">Follow @GameDevSay</a>  
</div>
        </div>
        </h2>

        
</div>

</div>



</div>

