body {
  font-size: 18px;
 }

 h1,h2,h3,h4,h5,h6,p {
  line-height: 1;
 }



.todo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height:100vh;
  display:block;
  overflow: hidden;
  background-image: url("/images/mario.gif"), url("/images/ground.png"), url("/images/bushes.png"), url("/images/back.png");
  background-color: #F8E0B0;
  background-repeat: no-repeat, repeat-x, repeat-x, repeat-x;
  background-position: left 30% bottom 24px, left 0px bottom 0px, left 0px bottom 24px, left 0px bottom 0px;

  -webkit-animation: back 15s infinite linear;
          animation: back 15s infinite linear;
  
}

@-webkit-keyframes back {
  0% {
    background-position: left 30% bottom 24px, left 0px bottom 0px, left 0px bottom 24px, left 0px bottom 0px;
  }
  50% {
    background-position: left 50% bottom 24px, left -816px bottom 0px, left -508px bottom 24px, left -256px bottom 0px;
  }
  100% {
    background-position: left 30% bottom 24px, left -1632px bottom 0px, left -1016px bottom 24px, left -512px bottom 0px;
  }
}

@keyframes back {
  0% {
    background-position: left 30% bottom 24px, left 0px bottom 0px, left 0px bottom 24px, left 0px bottom 0px;
  }
  50% {
    background-position: left 50% bottom 24px, left -816px bottom 0px, left -508px bottom 24px, left -256px bottom 0px;
  }
  100% {
    background-position: left 30% bottom 24px, left -1632px bottom 0px, left -1016px bottom 24px, left -512px bottom 0px;
  }
}


form {
  max-width: 960px;
  width: 50vw;
  height: 50vh;
  margin: 5% auto;


}


.header {
  max-width: 960px;
  font-size: 2em;
  text-transform: uppercase;
  display: flex;
}


.description {
  font-size: 0.68em;
  font-weight: 580;
  letter-spacing: 1px;
  line-height: 1.3em;
  margin: -2px 0 45px;
  text-align: center;
}


.input {
  display: flex;
  align-items: center;
}


.button {
  height: 44px;
  border: none;
}

  
#email {
  width: 75%;
  background: #FDFCFB;
  font-family: inherit;
  color: #737373;
  letter-spacing: 1px;
  text-indent: 5%;
  border-radius: 5px 0 0 5px;
  font-size: 0.7em;
}


#submit {
  width: 25%;
  height: 46px;
  background: #E86C8D;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  letter-spacing: 1px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background .3s ease-in-out;
  font-size: 0.9em;
}
  

#submit:hover {
  background: #d45d7d;
}
  

input:focus {
  outline: none;
  outline: 2px solid #E86C8D;
  box-shadow: 0 0 2px #E86C8D;
}

.loweras{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height:100vh;
  
  min-height:100%;
  
  background: center center no-repeat scroll #FFDB77;

}

.bajar{
  position: fixed;
  top: 25vh;
  left: 50vw;

  transform: translate(-50%, -50%);
}